body {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.content {
  max-width: 800px;
}

header {
  display: flex;
}

h1 {
  flex-grow: 1;
  text-align: center;
}

a.button {
  outline: none;
  color: dodgerblue;
  border-color: #eee;
  background: #ddd;
  padding: 3px 10px;
  transition: all 200ms;
}

a.button:hover {
  background: #fefefe;
}

a.button:focus {
  background: #e7e7e7;
}

.profile_photo {
  justify-content: right;
}
.profile_photo>img {
  border-radius: 50%;
}