body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div.root {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

code {
  font-family: 'Cutive Mono', monospace;
}
